/* .header {
}

.nav {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.a {
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
  color: currentColor;
} */
